@import "tailwindcss";

body {
    background-color: #121212FF;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 100px;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}